<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments :: head}">
</head>

<style>
	
        
     .table td{
            vertical-align: middle;
            text-align: center;
        }
        
     table{
		 text-align: center;
	 }
       
</style>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul  th:replace="~{fragments :: sideBar}" ></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="~{fragments :: topBar}" ></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
					
					<form th:action="@{/orders/search}" method="get" id="search">
                       <input type="text" name="keyword" placeholder="Search order" th:value="${keyword}" id="inputSearch">
                       <input type="hidden" name="pageNo" value="1">
                       <button type="submit" class="btn btn-primary" >
						   Search
					   </button>
                    </form>
                    
                    <br>
                    
					<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#insertModal" 
						data-bs-whatever="@mdo">Insert Product
					</button>-->
		
					
					<div th:if="${orderList.empty}" style="color: red; font-size: 30px; text-align: center;">
						No Order in shop
					</div>
					
						
					<div th:if="${success}">
						<p th:text="${success}" class="alert alert-success text-center" ></p>
					</div>
					
					<div th:if="${failed}">
						<p th:text="${failed}" class="alert alert-danger text-center" ></p>
					</div>
					
	               <table class="table" th:if="${not orderList.empty}" >
						  <thead>
						    <tr>
						     
						      <th scope="col">Ảnh</th>
						       <th scope="col">Tên</th>
						      <th scope="col">Số lượng</th>
						      <th scope="col">Giá</th>
						      <th scope="col">Ship</th>
						      <th scope="col">Tiền</th>
						      <th scope="col">Ngày đặt</th>
						      
						      <th scope="col">Ngày giao</th>
						      <th scope="col">Trạng thái</th>
						      <th scope="col">Thanh toán</th>
						      
						      <th scope="col">Tổng Tiền</th>
						       <th scope="col">Tên khách hàng</th>
						      <th scope="col">Action</th>
					
						    </tr>
						  </thead>
						  <tbody>
							<div th:each="order : ${orderList}">
							    <tr  th:each="cartItem, status  : ${order.cartItem}">
							      <td >
									<a id="imageButton" th:href="'data:image/jpeg;base64,' + ${cartItem.product.image}">
									  	<img style="width: 50px; height: 50px;" th:src="'data:image/jpeg;base64,' + ${cartItem.product.image}">
								 	 </a>
								  </td>
							      
					 			 <td style="font-weight: bold;"  th:text="${cartItem.product.name}" ></td>
													      
							      <td th:text="${cartItem.quantity}" ></td>
							      
							      <td  th:if="${cartItem.product.salePrice <=0}" th:text="'$'+${#numbers.formatDecimal(cartItem.product.costPrice, 1, 'COMMA', 1, 'POINT')}" ></td>
							      <td th:if="${cartItem.product.salePrice >0}" th:text="'$'+${#numbers.formatDecimal(cartItem.product.salePrice, 1, 'COMMA', 1, 'POINT')}" ></td>
							      
							      <td>$30</td>
							      
							      <td th:text="'$'+${cartItem.totalPrice}" ></td>
							      
							      <td   th:if="${status.index ==0}" th:rowspan="${order.cartItem.size()}" th:text="${order.orderDate}" ></td>
				
							      <td  th:if="${status.index ==0}" th:rowspan="${order.cartItem.size()}" th:text="${order.deliveryDate}" ></td>
							      
							      <td  th:if="${status.index ==0}" th:rowspan="${order.cartItem.size()}" th:text="${order.orderStatus}" ></td>
							      
							      <td  th:if="${status.index ==0}" th:rowspan="${order.cartItem.size()}" th:text="${order.paymentMethod}" ></td>
							      
						      
							      
							      <td style="font-weight: bold;"  th:if="${status.index ==0}" th:rowspan="${order.cartItem.size()}" th:text="'$'+${#numbers.formatDecimal(order.totalPrice, 1, 'COMMA', 1, 'POINT')}" ></td>
							      
							       <td style="font-weight: bold;"   th:if="${status.index ==0}" th:rowspan="${order.cartItem.size()}" th:text="${order.customer.lastName} + ' ' +${order.customer.firstName}"  ></td>
							      
							     
								  
								  <td  th:if="${status.index ==0}" th:rowspan="${order.cartItem.size()}">
									  <a th:if="${searchProduct == null}" 
									  	 th:href="@{/orders/deleteById(id = ${order.id}, currentPage = ${currentPage})}"
									  	 id="deleteButton" class="btn btn-danger">Xóa
									  </a>
									   <a th:if="${searchProduct != null}" 
									  	 th:href="@{/orders/search/deleteById(id = ${order.id}, pageNo = ${currentPage}, keyword = ${keyword} )}"
									  	 id="deleteButton" class="btn btn-danger">Xóa
									  </a>
									  
									  <a th:if="${searchProduct == null and order.isAccept == false}" 
									  	 th:href="@{/orders/acceptById(id = ${order.id}, currentPage = ${currentPage})}"
									  	 id="acceptButton" class="btn btn-success">Chấp nhận
									  </a>
									   <a th:if="${searchProduct != null and order.isAccept == false}" 
									  	 th:href="@{/orders/search/acceptById(id = ${order.id}, pageNo = ${currentPage}, keyword = ${keyword} )}"
									  	 id="acceptButton" class="btn btn-success">Chấp nhận
									  </a>
									  
									  <a th:if="${searchProduct == null and order.isAccept == true}" 
									  	 th:href="@{/orders/refuseById(id = ${order.id}, currentPage = ${currentPage})}"
									  	 id="acceptButton" class="btn btn-dark">Từ chối
									  </a>
									   <a th:if="${searchProduct != null and order.isAccept == true}" 
									  	 th:href="@{/orders/search/refuseById(id = ${order.id}, pageNo = ${currentPage}, keyword = ${keyword} )}"
									  	 id="acceptButton" class="btn btn-dark">Từ chối
									  </a>
								  </td>
								  
							      <!--<td >
						  
									  <a th:if="${searchProduct == null and product.hidden}" 
									  	 th:href="@{/products/activatedById(id = ${product.id}, currentPage = ${currentPage})}"
									  	 id="activatedButton" class="btn btn-success">Activate
									  </a>
									   <a th:if="${searchProduct != null and product.hidden}" 
									  	 th:href="@{/products/search/activatedById(id = ${product.id}, pageNo = ${currentPage}, keyword = ${keyword} )}"
									  	 id="activatedButton" class="btn btn-success">Activate
									  </a>
									  
									  <a th:if="${searchProduct == null and product.hidden == false}" 
									  	 th:href="@{/products/hiddenById(id = ${product.id}, currentPage = ${currentPage})}"
									  	 id="hiddenButton" class="btn btn-dark">Hide
									  </a>
									   <a th:if="${searchProduct != null and product.hidden == false}" 
									  	 th:href="@{/products/search/hiddenById(id = ${product.id}, pageNo = ${currentPage}, keyword = ${keyword} )}"
									  	 id="hiddenButton" class="btn btn-dark">Hide
									  </a>
								  </td>-->
							    </tr>
						    </div>
						  </tbody>
					</table>
					
					<!--Pagination-->
					<!-- start page = 0-->
					<!--Phân trang dành cho sau khi không tìm kiếm-->
					  <nav aria-label="..." th:if="${searchProduct == null and not orderList.empty and currentPage !=null}">
	                      <ul class="pagination" >
	                         <li th:if= "${currentPage > 1}" class="page-item ">
	                                <a th:href = "@{'/orders/' + ${currentPage - 1}}" class="page-link">Previous</a>
	                         </li >	
	                         
	                         <li th:each = "i : ${#numbers.sequence(1, totalPage)}"
	                           th:classappend = "${currentPage == i ? 'active' : ''}" class="page-item">
	                              <a th:href = "@{'/orders/' + ${i}}" class="page-link" href="#">
							    	 <span th:text = "${i}"></span>
								  </a>
							 </li>
							
	                         <li th:if = "${currentPage  < totalPage}" class="page-item">
	                              <a th:href = "@{'/orders/' + ${currentPage + 1}}" class="page-link" href="#">Next</a>
	                         </li>
	                      </ul>
	                   </nav>
                    
                    <!--Phân trang dành cho sau khi tìm kiếm-->
                    <nav aria-label="..." th:if="${searchProduct != null and not orderList.empty and currentPage !=null}">
                        <ul class="pagination" >
                            <li th:if= "${currentPage > 1}" class="page-item ">
                                <a th:href = "@{/orders/search(keyword = ${keyword},pageNo = ${currentPage -1})}" class="page-link">Previous</a>
                            </li >	
                            <li th:each = "i : ${#numbers.sequence(1, totalPage)}" th:classappend = "${currentPage == i ? 'active' : ''}" class="page-item">
                                <a th:href = "@{/orders/search(keyword = ${keyword}, pageNo = ${i})}" class="page-link" href="#">
								     <span th:text = "${i}"></span>
							     </a>
							 </li>
                            <li th:if = "${currentPage  < totalPage}" class="page-item">
                                <a th:href = "@{/orders/search(keyword = ${keyword}, pageNo = ${currentPage + 1})}" class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
					 <!--Pagination  -->
					 
                </div>             
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
           <footer th:replace="~{fragments :: footer}" >
   			</footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace="~{fragments :: scroll}">
    </a>

    <!-- Logout Modal-->
   <div th:replace"~{fragments :: logoutModal}">
     
     
     <!--Insert Modal-->
	<!--<div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" >
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Insert Product</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <form th:action="@{/products/insert(totalPage = ${totalPage})}" method="post" enctype="multipart/form-data" >
	          <table style="width: 100%;">
				  <tr>
					  <td >
						  <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">PRODUCT NAME:</label>
				            <input type="text" class="form-control" id="recipient-name" name="name" required>
				          </div>
				          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">PRODUCT CATEGORY:</label>
				            <select  class="form-control" id="recipient-name" name="category" required>
								<option th:value="null">-SELECT-</option>
								<option th:each="category:${categoryList}" th:value="${category.id}" th:text="${category.name}" >	
								</option>
							</select>
				          </div>
				          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">PRODUCT DESCRIPTION:</label>
				            <input type="text" class="form-control" id="recipient-name" name="description" >
					  </td>
					  
					  <td style="padding-left: 100px;">
						  			          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">AVAILABLE QUANTITY:</label>
				            <input type="number" class="form-control" id="recipient-name" name="currentQuantity" required>
				          </div>
				          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">PRICE:</label>
				            <input type="number" class="form-control" id="recipient-name" name="costPrice" step="any" required>
				          </div>
				          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">PRODUCT IMAGE:</label>
				            <br>
				            <input type="file" class="input-file" id="recipient-name" name="imageProduct">
				          </div>
					  </td>
				  </tr>
				  
				 <tr>
					 <td colspan="2">
						 <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					        <button type="submit" class="btn btn-primary">Insert</button>
				   		</div>
					 </td>
				 </tr>
			  </table>
	        </form>
	      </div>
	    </div>
	  </div>
	</div>-->
	
	
	<!--Edit Modal-->
	<!--<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" >
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Insert Product</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
			<form th:action="@{${(searchProduct == null) ? '/products/update?currentPage=' + currentPage : '/products/search/update?keyword=' + keyword + '&pageNo=' + currentPage}}" method="post" enctype="multipart/form-data">
	          <table style="width: 100%;">
				   <input type="hidden" name="activated" id="activatedEdit">
					<input type="hidden" name="hidden" id="hiddenEdit">
				  <tr>
					  <td >
						  <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">ID:</label>
				            <input type="text" class="form-control" id="idEdit" name="id" readonly required>
				          </div>
						  
						  <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">PRODUCT NAME:</label>
				            <input type="text" class="form-control" id="nameEdit" name="name" required>
				          </div>
				          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">PRODUCT CATEGORY:</label>
				            <select  class="form-control" id="categoryEdit" name="category" required>
								<option th:value="null">-SELECT-</option>
								<option th:each="category:${categoryList}" th:value="${category.id}" th:text="${category.name}" >	
								</option>
							</select>
				          </div>
				          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">PRODUCT DESCRIPTION:</label>
				            <input type="text" class="form-control" id="descriptionEdit" name="description">
        
					  </td>
					  
					  <td style="padding-left: 100px;">
						  
					  
						  <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">AVAILABLE QUANTITY:</label>
				            <input type="number" class="form-control" id="currentQuantityEdit" name="currentQuantity" required>
				          </div>
						  			          		          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">PRICE:</label>
				            <input type="number" class="form-control" id="costPriceEdit" name="costPrice" step="any" required>
				          </div>
				          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">SALE:</label>
				            <input type="number" class="form-control" id="salesEdit" name="salePrice" step="any">
				          </div>
				          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">PRODUCT IMAGE:</label>
				            <img src="" style="width: 40px; height: 40px;" id="imgEdit"><br>
				            <input type="file" class="input-file" id="imageProductEdit" name="imageProduct">
				          </div>
					  </td>
				  </tr>
				  
				 <tr>
					 <td colspan="2">
						 <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					        <button type="submit" class="btn btn-primary">Edit</button>
				   		</div>
					 </td>
				 </tr>
			  </table>
	        </form>
	      </div>
	    </div>
	  </div>
	</div>-->
	
	
    <!--Hidden Modal-->
	<!--<div class="modal fade" id="hiddenModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Hide</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        Do you want to Hide this recored
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	        <a href="" id="confirmHiddenButton" class="btn btn-primary">Hide</a>
	      </div>
	    </div>
	  </div>
	</div> -->
	
	
	
	<!--Activated Modal-->
	<!--<div class="modal fade" id="activatedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Activated</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        Do you want to Activate this recored
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	        <a href="" id="confirmActivatedButton" class="btn btn-primary">Activated</a>
	      </div>
	    </div>
	  </div>
	</div> -->
	
	<!--Delete Modal-->
	<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        Bạn có muốn xóa đơn đặt hàng này của khách hàng không
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
	        <a href="" id="confirmDeleteButton" class="btn btn-primary">Xóa</a>
	      </div>
	    </div>
	  </div>
	</div> 
	
	<!--Accept Modal-->
	<div class="modal fade" id="acceptModalButton" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        Bạn có muốn chấp nhận đơn đặt hàng này không
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
	        <a href="" id="confirmAcceptButton" class="btn btn-primary">Chấp nhận</a>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!--Image Modal-->
	<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">IMAGE</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <img src="" id="imageButtonModal" style="width: 400px; height: 400px;">
	      </div>
	      
	    </div>
	  </div>
	</div> 
    
	<!--script-->
    <div th:replace="~{fragments :: script}"></div>
	
	<script th:src="@{/js/orders.js}"></script>
</body>

</html>