<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments :: head}">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul  th:replace="~{fragments :: sideBar}" ></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="~{fragments :: topBar}" ></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
					
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Sản Phẩm</h1>
                    </div>
                    
                    
                    <form th:action="@{/products/search}" method="get" id="search">
                       <input type="text" name="keyword" placeholder="Tìm kiếm sản phẩm" th:value="${keyword}" id="inputSearch">
                       <input type="hidden" name="pageNo" value="1">
                       <button type="submit" class="btn btn-primary" style="background: linear-gradient(45deg, rgb(255, 128, 64), rgb(248, 251, 132));">
						   Tìm kiếm
					   </button>
                    </form>
                    
                    <br>
                    
					<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#insertModal" 
						data-bs-whatever="@mdo" style="background: linear-gradient(45deg, rgb(255, 128, 64), rgb(248, 251, 132));">Insert Sản Phẩm
					</button>
		
					
					<div th:if="${productList.empty}" style="color: red; font-size: 30px; text-align: center;">
						No products in shop
					</div>
					
						
					<div th:if="${success}">
						<p th:text="${success}" class="alert alert-success text-center" ></p>
					</div>
					
					<div th:if="${failed}">
						<p th:text="${failed}" class="alert alert-danger text-center" ></p>
					</div>
					
	               <table class="table" th:if="${not productList.empty}" >
						  <thead>
						    <tr>
						      <th scope="col">Tên</th>
						      <th scope="col">Thể Loại</th>
						      <th scope="col">Giá</th>
						      <th scope="col">Số Lượng</th>
						      <th scope="col">Hình Ảnh </th>
						      <th scope="col">Update</th>
						      <th scope="col">Delete</th>
						 
						    </tr>
						  </thead>
						  <tbody>
						    <tr th:each="product:${productList}">
						      <td th:text="${product.name}" ></td>
						      
						      <td th:if="${product.category}" th:text="${product.category.name}"></td>
						  	  <td th:if="${product.category == null}">No Category</td>
												      
						      <td th:text="${product.costPrice}" ></td>
						      <td th:text="${product.currentQuantity}" ></td>
						      <td  th:if="${product.image != null}">
								  <a id="imageButton" th:href="'data:image/jpeg;base64,' + ${product.image}">
									  <img th:src="'data:image/jpeg;base64,' + ${product.image}" style="height: 40px; width: 40px;">
								  </a>	  
						      </td>
						      <td  th:if="${product.image == null}">No image</td>
						      
						      <td>
								   <a th:href="@{/products/getById(id = ${product.id})}" 
								 	 id="editButton" class="btn btn-success"><i class="fa-solid fa-pen" style="color: #ffffff;"></i>  
								  </a>
							  </td>
							  
							  <td>
								  <a th:if="${searchProduct == null}" 
								  	 th:href="@{/products/deleteById(id = ${product.id}, currentPage = ${currentPage})}"
								  	 id="deleteButton" class="btn btn-danger"><i class="fa-solid fa-delete-left" style="color: #ffffff;"></i>
								  </a>
								   <a th:if="${searchProduct != null}" 
								  	 th:href="@{/products/search/deleteById(id = ${product.id}, pageNo = ${currentPage}, keyword = ${keyword} )}"
								  	 id="deleteButton" class="btn btn-danger"><i class="fa-solid fa-delete-left" style="color: #ffffff;"></i>
								  </a>
							  </td>
							  
						      
						    </tr>
						  </tbody>
					</table>
					
					<!--Pagination-->
					<!-- start page = 0-->
					<!--Phân trang dành cho sau khi không tìm kiếm-->
					  <nav aria-label="..." th:if="${searchProduct == null and not productList.empty and currentPage !=null}">
	                      <ul class="pagination" >
	                         <li th:if= "${currentPage > 1}" class="page-item ">
	                                <a th:href = "@{'/products/' + ${currentPage - 1}}" class="page-link">Previous</a>
	                         </li >	
	                         
	                         <li th:each = "i : ${#numbers.sequence(1, totalPage)}"
	                           th:classappend = "${currentPage == i ? 'active' : ''}" class="page-item">
	                              <a th:href = "@{'/products/' + ${i}}" class="page-link" href="#">
							    	 <span th:text = "${i}"></span>
								  </a>
							 </li>
							
	                         <li th:if = "${currentPage  < totalPage}" class="page-item">
	                              <a th:href = "@{'/products/' + ${currentPage + 1}}" class="page-link" href="#">Next</a>
	                         </li>
	                      </ul>
	                   </nav>
                    
                    <!--Phân trang dành cho sau khi tìm kiếm-->
                    <nav aria-label="..." th:if="${searchProduct != null and not productList.empty and currentPage !=null}">
                        <ul class="pagination" >
                            <li th:if= "${currentPage > 1}" class="page-item ">
                                <a th:href = "@{/products/search(keyword = ${keyword},pageNo = ${currentPage -1})}" class="page-link">Previous</a>
                            </li >	
                            <li th:each = "i : ${#numbers.sequence(1, totalPage)}" th:classappend = "${currentPage == i ? 'active' : ''}" class="page-item">
                                <a th:href = "@{/products/search(keyword = ${keyword}, pageNo = ${i})}" class="page-link" href="#">
								     <span th:text = "${i}"></span>
							     </a>
							 </li>
                            <li th:if = "${currentPage  < totalPage}" class="page-item">
                                <a th:href = "@{/products/search(keyword = ${keyword}, pageNo = ${currentPage + 1})}" class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
					 <!--Pagination  -->
					 
                </div>             
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
           <footer th:replace="~{fragments :: footer}" >
   			</footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace="~{fragments :: scroll}">
    </a>

    <!-- Logout Modal-->
   <div th:replace"~{fragments :: logoutModal}">
     
     
     <!--Insert Modal-->
	<div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" >
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Insert Sản Phẩm </h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <form th:action="@{/products/insert(totalPage = ${totalPage})}" method="post" enctype="multipart/form-data" >
	          <table style="width: 100%;">
				  <tr>
					  <td >
						  <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">Tên Sản Phẩm</label>
				            <input type="text" class="form-control" id="recipient-name" name="name" required>
				          </div>
				          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">Thể Loại Sản Phẩm</label>
				            <select  class="form-control" id="recipient-name" name="category" required>
								<option th:value="null">-SELECT-</option>
								<option th:each="category:${categoryList}" th:value="${category.id}" th:text="${category.name}" >	
								</option>
							</select>
				          </div>
				          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">Mô Tả</label>
				            <input type="text" class="form-control" id="recipient-name" name="description" >
					  </td>
					  
					  <td style="padding-left: 100px;">
						  			          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">Số Lượng</label>
				            <input type="number" class="form-control" id="recipient-name" name="currentQuantity" required>
				          </div>
				          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">Giá</label>
				            <input type="number" class="form-control" id="recipient-name" name="costPrice" step="any" required>
				          </div>
				          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">Hình Ảnh</label>
				            <br>
				            <input type="file" class="input-file" id="recipient-name" name="imageProduct">
				          </div>
					  </td>
				  </tr>
				  
				 <tr>
					 <td colspan="2">
						 <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					        <button type="submit" class="btn btn-success" >Insert</button>
				   		</div>
					 </td>
				 </tr>
			  </table>
	        </form>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	<!--Edit Modal-->
	<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" >
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Sản Phẩm</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
			<form th:action="@{${(searchProduct == null) ? '/products/update?currentPage=' + currentPage : '/products/search/update?keyword=' + keyword + '&pageNo=' + currentPage}}" method="post" enctype="multipart/form-data">
	          <table style="width: 100%;">
				   <input type="hidden" name="activated" id="activatedEdit">
					<input type="hidden" name="hidden" id="hiddenEdit">
				  <tr>
					  <td >
						  <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">ID:</label>
				            <input type="text" class="form-control" id="idEdit" name="id" readonly required>
				          </div>
						  
						  <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">Tên Sản Phẩm</label>
				            <input type="text" class="form-control" id="nameEdit" name="name" required>
				          </div>
				          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">Thể Loại</label>
				            <select  class="form-control" id="categoryEdit" name="category" required>
								<option th:value="null">-SELECT-</option>
								<option th:each="category:${categoryList}" th:value="${category.id}" th:text="${category.name}" >	
								</option>
							</select>
				          </div>
				          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">Mô Tả</label>
				            <input type="text" class="form-control" id="descriptionEdit" name="description">
        
					  </td>
					  
					  <td style="padding-left: 100px;">
						  
					  
						  <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">Số Lượng</label>
				            <input type="number" class="form-control" id="currentQuantityEdit" name="currentQuantity" required>
				          </div>
						  			          		          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">Giá</label>
				            <input type="number" class="form-control" id="costPriceEdit" name="costPrice" step="any" required>
				          </div>
				          
				          
				          
				          <div class="mb-3">
				            <label for="recipient-name" class="col-form-label">Hình Ảnh</label>
				            <img src="" style="width: 40px; height: 40px;" id="imgEdit"><br>
				            <input type="file" class="input-file" id="imageProductEdit" name="imageProduct">
				          </div>
					  </td>
				  </tr>
				  
				 <tr>
					 <td colspan="2">
						 <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					        <button type="submit" class="btn btn-success" >Edit</button>
				   		</div>
					 </td>
				 </tr>
			  </table>
	        </form>
	      </div>
	    </div>
	  </div>
	</div>
	
	
    <!--Hidden Modal-->
	<div class="modal fade" id="hiddenModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Hide</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        Do you want to Hide this recored
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	        <a href="" id="confirmHiddenButton" class="btn btn-primary">Hide</a>
	      </div>
	    </div>
	  </div>
	</div> 
	
	
	
	<!--Activated Modal-->
	<div class="modal fade" id="activatedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Activated</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        Do you want to Activate this recored
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	        <a href="" id="confirmActivatedButton" class="btn btn-primary">Activated</a>
	      </div>
	    </div>
	  </div>
	</div> 
	
	<!--Delete Modal-->
	<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	       Bạn có chắc chắn xoá sản phẩm này?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	        <a href="" id="confirmDeleteButton" class="btn btn-success">Delete</a>
	      </div>
	    </div>
	  </div>
	</div> 
	
	<!--Image Modal-->
	<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">IMAGE</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <img src="" id="imageButtonModal" style="width: 400px; height: 400px;">
	      </div>
	      
	    </div>
	  </div>
	</div> 
    
	<!--script-->
    <div th:replace="~{fragments :: script}"></div>
	
	<script th:src="@{/js/products.js}"></script>
</body>

</html>