<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head th:replace="~{fragments :: head}">
</head>

<body>
    <!-- Start Main Top -->
    <div th:replace="~{fragments :: mainTop}"></div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header th:replace="~{fragments :: mainHeader}"></header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="~{fragments :: topSearch}"></div>
    <!-- End Top Search -->

    <!-- Start Slider -->
    <div th:replace="~{fragments :: allTitleBox}"></div>
    <!-- End Slider -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <!--<div class="col-sm-6 col-lg-6 mb-3" th:if="${customer}">
                    <div class="checkout-address">
                        <div class="title-left">
                            <h3>Địa chỉ thanh toán</h3>
                        </div>
                   		<form class="needs-validation" novalidate >
                          
                            <div class="mb-3">
                                <label for="username" >Tài khoản *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="username" th:value="${customer.username}" readonly required>
                                    <div class="invalid-feedback" style="width: 100%;"> Your username is required. </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="firstNameId">Tên *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="firstNameId" th:value="${customer.firstName}" required>
                                    <div class="invalid-feedback" style="width: 100%;"> Your First Name is required. </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="lastNameId">Họ *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="lastNameId" th:value="${customer.lastName}" required>
                                    <div class="invalid-feedback" style="width: 100%;"> Your Last Name is required. </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="phone">Số điện thoại *</label>
                                <input type="phone" class="form-control" id="phone" th:value="${customer.phoneNumber}">
                                <div class="invalid-feedback"> Please enter a valid phone number for shipping updates. </div>
                            </div>
                            <div class="mb-3">
                                <label for="address">Địa chỉ *</label>
                                <input type="text" class="form-control" id="address"  th:value="${customer.address}"required>
                                <div class="invalid-feedback"> Please enter your shipping address. </div>
                            </div>
                            
                            <hr class="mb-4">                           
	                            <div class="title"> <span>Phương thức thanh toán</span> </div>
	                            <div class="d-block my-3">
									<div class="custom-control custom-radio">
	                                    <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
	                                    <label class="custom-control-label" for="debit">Tiền mặt</label>
	                                </div>
	                                <div class="custom-control custom-radio">
	                                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input"  required>
	                                    <label class="custom-control-label" for="credit">Thẻ ngân hàng</label>
	                                </div>
	                                
	                              
	                          
	                            </div>
	                            <div class="row" id="bankId" style="display: none;">
	                                <div class="col-md-6 mb-3">
	                                    <label for="cc-name">Tên thẻ</label>
	                                    <input type="text" class="form-control" id="cc-name" th:value="${customer.nameOfBank}" readonly required> 
	                                    <div class="invalid-feedback"> Name on card is required </div>
	                                </div>
	                                <div class="col-md-6 mb-3">
	                                    <label for="cc-number">Số tài khoản</label>
	                                    <input type="text" class="form-control" id="cc-number" th:value="${customer.accountNumber}" readonly required>
	                                    <div class="invalid-feedback"> Credit card number is required </div>
	                                </div>
	                            </div>
	                            <hr class="mb-1"> 
                            </form>
                    </div>
                </div>-->
                
                
                <div class="col-sm-6 col-lg-6 mb-3">
                        <div class="col-md-12 col-lg-12">
                            <div class="odr-box">
                                <div class="title-left">
                                    <h3>Giỏ hàng</h3>
                                </div>
                                <div class="rounded p-2 bg-light">
                                    <div class="media mb-2 border-bottom" th:if="${customer != null and customer.shoppingCarts != null and customer.shoppingCarts.cartItems !=null}"
                                    	th:each="item : ${customer.shoppingCarts.cartItems}">
                                        <div class="media-body"> <a th:href="@{/find-productById(id = ${item.product.id})}" th:text="${item.product.name}"> </a>
                                            <div class="small text-muted">
												<span th:if="${item.product.salePrice <=0}" style="font-size: 15px;" th:text="'Giá : ' +${#numbers.formatDecimal(item.product.costPrice, 1, 'COMMA', 1, 'POINT')}"></span>
												 <span th:if="${item.product.salePrice >0}" style="font-size: 15px;" th:text="'Giá : ' +${#numbers.formatDecimal(item.product.salePrice, 1, 'COMMA', 1, 'POINT')}"></span>
												 <span class="mx-2">|</span> <span style="font-size: 15px;" th:text="'Số lượng :' +${item.quantity}"></span> <span class="mx-2">|</span> 
												 <span th:if="${item.product.salePrice <=0}" style="font-size: 15px;" th:text="'Tổng : $'+ ${#numbers.formatDecimal(item.quantity * item.product.costPrice, 1, 'COMMA', 1, 'POINT')}"></span>
												<span th:if="${item.product.salePrice >0}" style="font-size: 15px;" th:text="'Tổng : $'+ ${#numbers.formatDecimal(item.quantity * item.product.salePrice, 1, 'COMMA', 1, 'POINT')}"></span>
											</div>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12" th:if="${customer!= null and customer.shoppingCarts != null}">
                            <div class="order-box">
                                <div class="title-left">
                                    <h2><b>Đơn đặt hàng của bạn</b></h2>
                                </div>
                                <div class="d-flex">
                                    <div class="font-weight-bold">Sản phẩm</div>
                                    <div class="ml-auto font-weight-bold">Tổng cộng</div>
                                </div>
                                <hr class="my-1">
                                <div class="d-flex">
                                    <h4>Tổng</h4>
                               		<div class="ml-auto font-weight-bold" th:text="'$'+${#numbers.formatDecimal(customer.shoppingCarts.totalPrice, 1, 'COMMA', 1, 'POINT')}"> </div>
                                </div>
                                

                                <div class="d-flex">
                                    <h4>Phí Ship</h4>
                                    <div class="ml-auto font-weight-bold"> $3 </div>
                                </div>
                                <hr>
                                <div class="d-flex gr-total">
                                    <h5>Tổng </h5>
                                    <div id="totalId" th:if="${customer !=null}" class="ml-auto h5"  th:text="'$' +${#numbers.formatDecimal(customer.shoppingCarts.totalPrice + 3, 1, 'COMMA', 1, 'POINT')}"></div>                          
                                </div>
                                <hr> </div>
                        </div>
                        <form th:action="@{/saveOrder}" method="post">
							 <input type="hidden" name="paymentMethod" id="paymentMethodId" value="Tiền mặt"> 
                        	<div class="col-12 d-flex shopping-box"> <button class="ml-auto btn hvr-hover ">Đặt hàng</button> </div>
                   		</form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->



<!-- Start Footer  -->
<footer th:replace="~{fragments :: myFooter}"></footer>
        

<!--Script-->
<div th:replace="~{fragments :: script}">
</div>
<script th:src="@{/js/checkout.js}"></script>
<script th:src="@{/js/active_ul.js}"></script>

</body>

</html>