<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head th:replace="~{fragments :: head}">

</head>

<style>
	.input-button-container {
		display: flex;
	}

	.input-field-quantity {
		width: 60px;
		text-align: center;
		border-radius: 0;

	}

	.input-field-quantity::-webkit-inner-spin-button,
	.input-field-quantity::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.button1quantity,
	.button2quantity {
		padding: 3px 12px;
		background-color: white;
		color: black;
		border: none;
		outline: 1px solid #ccc;
		cursor: pointer;
	}

	.button1quantity:active,
	.button2quantity:active,
	.button1quantity:focus,
	.button2quantity:focus {
		outline: 1px solid #ccc;
	}
</style>

<body>
	<!-- Start Main Top -->
	<div th:replace="~{fragments :: mainTop}"></div>
	<!-- End Main Top -->


	<!-- Start Main Top -->
	<header th:replace="~{fragments :: mainHeader}"></header>
	<!-- End Main Top -->

	<!-- Start Top Search -->
	<div th:replace="~{fragments :: topSearch}"></div>
	<!-- End Top Search -->

	<!-- Start All Title Box -->
	<div th:replace="~{fragments :: allTitleBox}"></div>
	<!-- End All Title Box -->

	<!-- Start Shop Detail  -->
	<div class="shop-detail-box-main">
		<div class="container">
			<div class="row">
				<div class="col-xl-5 col-lg-5 col-md-6">
					<div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
						<div class="carousel-inner" role="listbox">
							<div class="carousel-item active">
								<img class="d-block w-100 border border-dark" style="width: 100px;height: 400px;"
									th:src="'data:image/jpeg;base64,' + ${product.image}" alt="First slide">
							</div>
						</div>


					</div>
				</div>
				<div class="col-xl-7 col-lg-7 col-md-6">
					<iframe name="votar" style="display:none;"></iframe>
					<form id="formId" target="votar" th:action="@{/cart/addItem}" method="post">
						<input type="hidden" th:value="${product.id}" name="id" id="idHidden">
						<div class="single-product-details">
							<h2 th:text="${product.name}"
								style="font-size: 23px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: rgb(0, 128, 192);">
							</h2>
							<p th:if="${product.salePrice != 0}"
								style="text-decoration: line-through;font-size: 23px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: rgb(0, 128, 192);"
								th:text="'$ ' +${product.costPrice}"></p>
							<p th:if="${product.salePrice == 0}"
								style="color: rgb(0, 128, 0); font-size: 21px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: 500;"
								th:text="'$ ' +${product.costPrice}"></p>
							<p th:if="${product.salePrice != 0}" style="color: red; font-size: 25px; font-weight: 600;"
								th:text="'$' +${product.salePrice}"></p>
							<h4>Mô Tả</h4>
							<p th:if="${product.description != '' and product.description != null}"
								th:text="${product.description}"></p>
							<div class="price-box-bar">
								<div class="cart-and-bay-btn">
									<div class="input-button-container">
										<button type="button" class="button1quantity">-</button>
										<input type="number" th:min="${minQuantity}" th:value="${valueQuantity}"
											th:max="${maxQuantity}" name="quantity" class="input-field-quantity">
										<button type="button" class="button2quantity">+</button>
										<!--<span th:if="${product.currentQuantity > 0}" th:text="'Kho : ' + ${product.currentQuantity}"  style="color: darkgray; font-family: 'Times New Roman', Times, serif; font-size: 18px; margin-left: 15px;"></span> <br>-->
									</div>



									<button type="submit" id="buttonSubbmit"
										style="font-size: 20px;color: white; border: 2px solid rgb(0, 128, 192); font-family: 'Times New Roman', Times, serif; margin-top: 20px;"
										th:if="${product.currentQuantity >0}" class="btn hvr-hover"
										data-fancybox-close=""><i class="fa-solid fa-cart-plus"
											style="color: #ffffff;margin-right: 5px;"></i> Thêm vào giỏ hàng</button>
									<div th:if="${product.currentQuantity <=0}" style="color: red; font-size: 25px;">Hết
										hàng</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>



	</div>
	</div>
	<!-- End Cart -->




	<!-- Start Footer  -->
	<footer th:replace="~{fragments :: myFooter}"></footer>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content custom-modal"
				style="background-color: black;color: white; height: 200px; width: 350px;margin-left: 100px; text-align: center;border: none; background-color: rgba(0, 0, 0, 0.5)">
				<div class="modal-body">
					<i class="fa-solid fa-check" style="color: #25a76a; font-size:80px;"></i> <br>
					<p style="text-align: center; font-size: 25px;">Thêm thành công </p>
				</div>
			</div>
		</div>
	</div>


	<!--Script-->
	<div th:replace="~{fragments :: script}">
	</div>
	<script th:src="@{/js/product-detail.js}"></script>
	<script th:src="@{/js/active_ul.js}"></script>

</body>

</html>