<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head th:replace="~{fragments :: head}">
</head>

<style>
        table {
            width: 100%; /* Đặt chiều rộng của bảng là 100% của phần tử chứa nó */
        }

    </style>

<body>
    <!-- Start Main Top -->
    <div th:replace="~{fragments :: mainTop}"></div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header th:replace="~{fragments :: mainHeader}"></header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="~{fragments :: topSearch}"></div>
    <!-- End Top Search -->

    <!-- Start Slider -->
    <div th:replace="~{fragments :: allTitleBox}"></div>
    <!-- End Slider -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					
					<div  th:if="${orderList == null or orderList.empty or dangShip == null}">
					
						
						
						<div style="font-size: 20px; text-align: center; font-weight: bold; color: gray;">
							Bạn chưa có đơn ship nào
						</div>
						<br>
						
						<div style=" text-align: center;">
							<a class="btn btn-secondary" 
									style="color: white; font-family: 'Times New Roman', Times, serif;font-size: 17px;
									 padding-left: 50px; padding-right: 50px;" th:href="@{/menu}">MUA NGAY
								</a>
						</div>
						
						<br><br> 
					</div>
					
					
					
					
					<div id="checkkDiv" style="display: none;" >
						
						
						
						<div id="check1" style="font-size: 20px; text-align: center; font-weight: bold; color: gray;">
							Bạn chưa đặt bất kì món hàng nào
						</div>
						<br>
						
						<div id="check2" style=" text-align: center;">
								<a class="btn btn-secondary" 
									style="color: white; font-family: 'Times New Roman', Times, serif;font-size: 17px;
									 padding-left: 50px; padding-right: 50px;" th:href="@{/menu}">MUA NGAY
								</a>				
						</div>
						
						<br><br>
					</div>
					
                    <div id="tableId" class="table-main table-responsive"  th:if="${orderList != null and orderList.empty == false and dangShip != null}">
                        <table  class="table">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">Ảnh</th>
                                    <th style="text-align: center;">Tên</th>
                                    <th style="text-align: center;">Số lượng</th>
                                    <th style="text-align: center;">Giá</th>
                                    <th style="text-align: center;">Ship</th>
                                    <th  style="text-align: center;">Tiền</th>
                                    <th style="text-align: center;">Ngày đặt</th>                                   
                                    <th  style="text-align: center;">Ngày giao</th>
                                    <th  style="text-align: center;">Trạng thái</th>
                                    <th  style="text-align: center;">Thanh toán</th>
                                    <th  style="text-align: center;">Tổng Tiền</th>                    
                                </tr>
                            </thead>
                            <tbody>
								
								<div th:each="order : ${orderList}">
	                                <tr th:if="${order.orderStatus == 'Đang Ship'}" id="tr_each" th:each="cartItem, status  : ${order.cartItem}" style="text-align: center;" th:class="${'tr_each' + order.id}">
	                                    <td class="thumbnail-img" >
	                                        <a href="#">
												<img class="img-fluid" th:src="'data:image/jpeg;base64,' + ${cartItem.product.image}" 
													style="width: 80px; height: 80px;" alt="" />
											</a>
	                                    </td>
	                                    <td  style="text-align: center;">
	                                        <p th:text="${cartItem.product.name}" style="font-weight: bold;text-align: center;" class="nameClass"></p>
	                                    </td>
	                                    <td   th:text="${cartItem.quantity}" style="text-align: center;" ></td>
	                                    
	                                    <td th:if="${cartItem.product.salePrice <=0}"  th:text="${cartItem.product.costPrice}" style="text-align: center;" ></td>
	                                    
	                                    <td th:if="${cartItem.product.salePrice >0}"  th:text="${cartItem.product.salePrice}" style="text-align: center;" ></td>
	                                    
	                                    <td>$30</td>
	                                    
	                                    <td th:if="${cartItem.product.salePrice <=0}" style="text-align: center;" >
	                                        <p  th:text="'$' + ${#numbers.formatDecimal(cartItem.quantity * cartItem.product.costPrice, 1, 'COMMA', 1, 'POINT')}"></p>
	                                    </td>
	                                    <td th:if="${cartItem.product.salePrice >0}" style="text-align: center;" >
	                                        <p  th:text="'$' + ${#numbers.formatDecimal(cartItem.quantity * cartItem.product.salePrice, 1, 'COMMA', 1, 'POINT')}"></p>
	                                    </td>
	                                    
	                                    <td style="text-align: center;" th:if="${status.index ==0}" th:rowspan="${order.cartItem.size()}">
	                                        <p th:text="${order.orderDate}"></p>
	                                    </td>
	                                    
	                                     <td style="text-align: center;" th:if="${status.index ==0}" th:rowspan="${order.cartItem.size()}">
	                                        <p th:text="${order.deliveryDate}"></p>
	                                    </td>
	                                    
	                                    <td style="text-align: center;" th:if="${status.index ==0}" th:rowspan="${order.cartItem.size()}">
	                                        <p th:text="${order.orderStatus}"></p>
	                                    </td>
	                                    
	                                    <td style="text-align: center;"	th:if="${status.index ==0}" th:rowspan="${order.cartItem.size()}">
	                                        <p th:text="${order.paymentMethod}"></p>
	                                    </td>
	                                    
	                                   	                                    

	                                    
	                                    
	                                    <td style="text-align: center; font-weight: bolder;" th:if="${status.index ==0}" th:rowspan="${order.cartItem.size()}">
	                                        <p  th:text="'$' + ${#numbers.formatDecimal(order.totalPrice, 1, 'COMMA', 1, 'POINT')}"></p>
	                                    </td>
	                                    
	                                   
		                                    
	                                </tr>
	                                 </div>                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
    <!-- End Cart -->



<!-- Start Footer  -->
<footer th:replace="~{fragments :: myFooter}"></footer>
        

<!--Script-->
<div th:replace="~{fragments :: script}">
</div>
<script th:src="@{/js/order.js}"></script>
<script th:src="@{/js/active_ul.js}"></script>
	
</body>

</html>