<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head th:replace="~{fragments :: head}">
</head>

<style>
	.input-button-container {
		 text-align: center;
    display: flex;
	}
	
	.quantityClass {
	     width: 70px;  /* flex-grow: 0, flex-shrink: 1, flex-basis: 100px */
	     text-align: center;
	 	 border-radius: 0;
	
	}
	
	.quantityClass::-webkit-inner-spin-button,
        .quantityClass::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        
     
	
	.button1quantity, .button2quantity {
	    padding: 3px 12px;
	   	background-color: white;
	    color: black;
	 	border: none;
	    outline: 1px solid #ccc;
	    cursor: pointer;
	}

	.button1quantity:active, .button2quantity:active,
	.button1quantity:focus, .button2quantity:focus {
	    outline: 1px solid #ccc;
	}
	
	
	

</style>

<body>
    <!-- Start Main Top -->
    <div th:replace="~{fragments :: mainTop}"></div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header th:replace="~{fragments :: mainHeader}"></header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="~{fragments :: topSearch}"></div>
    <!-- End Top Search -->

    <!-- Start Slider -->
    <div th:replace="~{fragments :: allTitleBox}"></div>
    <!-- End Slider -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					
					<div  th:if="${shoppingCart == null || shoppingCart.cartItems == null || shoppingCart.cartItems.empty == true }">
						<div style="background-color: white; text-align: center; margin-left: 88px;" th:if="${shoppingCart == null || shoppingCart.cartItems == null || shoppingCart.cartItems.empty == true }">				
							<img th:src="@{/images/smile.png}"  style="width: 200px	;" > 
						</div>
						
						
						<div  th:if="${shoppingCart == null or shoppingCart.cartItems.empty}" style="font-size: 20px; text-align: center; font-weight: bold; color: gray;">
							Giỏ hàng của bạn đang trống
						</div>
						<br>
						
						<div  th:if="${shoppingCart == null or shoppingCart.cartItems.empty}" style=" text-align: center;">
							<a class="btn btn-secondary" 
									style="color: white; font-family: 'Times New Roman', Times, serif;font-size: 17px;
									 padding-left: 50px; padding-right: 50px;" th:href="@{/menu}">MUA NGAY
								</a>
						</div>
						
						<br><br> 
					</div>
					
					
					
					
					<div id="checkkDiv" style="display: none;">
						<div style="background-color: white; text-align: center; margin-left: 88px;" id="checkoutNullId" >				
							<img th:src="@{/images/smile.png}"  style="width: 200px;"> 
						</div>
						
						
						<div id="check1" style="font-size: 20px; text-align: center; font-weight: bold; color: gray;">
							Giỏ hàng của bạn đang trống
						</div>
						<br>
						
						<div id="check2" style=" text-align: center;">
								<a class="btn btn-secondary" 
									style="color: white; font-family: 'Times New Roman', Times, serif;font-size: 17px;
									 padding-left: 50px; padding-right: 50px;" th:href="@{/menu}">MUA NGAY
								</a>				
						</div>
						
						<br><br>
					</div>
					
					
                    <div id="tableId" class="table-main table-responsive" th:if="${shoppingCart != null and shoppingCart.cartItems.empty == false}">
                        <table  class="table">
                            <thead>
                                <tr>
                                    <th>Hình Ảnh</th>
                                    <th>Tên Sản Phẩm</th>
                                    <th>Kho</th>
                                    <th style="text-align: center;">Đơn giá</th>                                   
                                    <th  style="text-align: center;">Số Lượng</th>
                                    <th  style="text-align: center;">Số tiền</th>
                                    <th  style="text-align: center;">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item : ${shoppingCart.cartItems}" class="tr_each">
                                    <td class="thumbnail-img">
                                        <a href="#">
											<img class="img-fluid" th:src="'data:image/jpef;base64,' + ${item.product.image}" 
												style="width: 80px; height: 80px;" alt="" />
										</a>
                                    </td>
                                    <td class="name-pr">
                                        <p th:text="${item.product.name}" style="font-weight: bold;" class="nameClass"></p>
                                    </td>
                                    <td th:text="${item.product.currentQuantity}" style="font-weight: bold;"></td>
                                    
                                    <td th:if="${item.product.salePrice <=0}" class="price-pr">
                                        <p th:text="'$' + ${item.product.costPrice}"></p>
                                    </td>
                                    
                                    <td th:if="${item.product.salePrice > 0}" class="price-pr">
                                        <p th:text="'$' + ${item.product.salePrice}"></p>
                                    </td>
                      
	                                    <td class="quantity-box">
											 <form class="formClass" >
												 <input type="hidden" class="productClass" name="id" th:value="${item.product.id}">
												 <div class="input-button-container">
													<button type="button" class="button1quantity">-</button>
												    <input type="number" th:value="${item.quantity}" min="1"  step="1" th:max="${item.product.currentQuantity}" name="quantity" class="quantityClass">									    
												    <button type="button" class="button2quantity">+</button>
												</div>												
											</form>
										</td>
										
										<td class="total-pr">
											<p th:if="${item.totalPrice}" th:text="'$' + ${#numbers.formatDecimal(item.totalPrice, 1, 'COMMA', 1, 'POINT')}" class="totalPriceClass"></p>
		                                 </td>
	                                    
	                                 
		                                <td class="remove-pr">	
											 <form th:action="@{/cart/delete}" method="delete" class="formDeleteClass">
												  <input type="hidden" class="productClassDelete" name="id" th:value="${item.product.id}">		
				                                   <button 
													  	 id="buttonDelete" class="btn btn-dark" style="font-weight: bold;">Xóa
												 </button>
											 </form>
		                                  </td>
	                                    
	                                    		
                                    
                                </tr>
                                                 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--<div class="row my-5">
                <div class="col-lg-6 col-sm-6">
                    <div class="coupon-box">
                        <div class="input-group input-group-sm">
                            <input class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
                            <div class="input-group-append">
                                <button class="btn btn-theme" type="button">Apply Coupon</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="update-box">
                        <a href="index.html"><input value="Update Cart" type="submit"></a> 
                    </div>
                </div>
            </div>-->
                  
            <div class="row my-5" id="checkoutId" th:if="${shoppingCart != null && shoppingCart.cartItems != null && shoppingCart.cartItems.empty == false }">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>Order summary</h3>
                        <div class="d-flex">
                            <h4>Tông tiền</h4>
							 <div th:if="${shoppingCart !=null}" id="totalPriceId" class="ml-auto font-weight-bold"  th:text="'$' +${#numbers.formatDecimal(shoppingCart.totalPrice, 1, 'COMMA', 1, 'POINT')}"></div>

                        </div>
                        <div class="d-flex">
                            <h4>Giảm giá</h4>
                            <div class="ml-auto font-weight-bold"> $0 </div>
                        </div>
                        <hr class="my-1">
                        
                        <div class="d-flex">
                            <h4>Giá vận chuyển</h4>
                            <div class="ml-auto font-weight-bold"> $30 </div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Tổng cộng</h5>
                        	<div id="totalId" th:if="${shoppingCart !=null}" class="ml-auto h5"  th:text="'$' +${#numbers.formatDecimal(shoppingCart.totalPrice + 30, 1, 'COMMA', 1, 'POINT')}"></div>

                        </div>
                        <hr> </div>
                </div>
                <div class="col-12 d-flex shopping-box"><a th:href="@{/checkout}" class="ml-auto btn hvr-hover">Checkout</a> </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->

   <!-- Start Feed  -->
   <div th:replace="~{fragments :: feed}"></div>
	<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="~{fragments :: myFooter}"></footer>


<!-- Modal -->
<div class="modal fade" id="warningModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content custom-modal" style="color: black; height: 200px; width: 350px;margin-left: 100px; text-align: center;border: none; background-color: white(0, 0, 0.5)">
      <div class="modal-body">
		 <i class="fa-solid fa-triangle-exclamation" style="color: #fc0303; font-size: 40px;"></i>
        <p style="text-align: center; font-size: 25px;" id="warningText"></p>
      </div>
      
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content custom-modal" style="color: black; height: 200px; width: 350px;margin-left: 100px; text-align: center;border: none; background-color: white(0, 0, 0.5)">
      <div class="modal-body">
		 <i class="fa-solid fa-triangle-exclamation" style="color: #fc0303; font-size: 40px;"></i>
        <p style="text-align: center; font-size: 25px;" id="deleteP"></p>
        <button type="button" id="confirmDelete"  class="btn btn-danger">Delete</button>
        <button type="button" id="closeButton" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>

        

<!--Script-->
<div th:replace="~{fragments :: script}">
</div>
<script th:src="@{/js/cart.js}"></script>
<script th:src="@{/js/active_ul.js}"></script>
</body>

</html>