<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <head th:replace="~{fragments :: head}">
</head>

<style>
	.leftHalf{
		width: 30%;
		float: left;
	}
	
	.rightHalf{
		width: 50%;
		float: right;
	}
	
	.centerHalf{
		width: 20%;
		float: left;
	}
</style>

<!--    <script src="Change-Password.js"></script></script>/script> defer="true"></script>
-->
</head>

<body>
    <!-- Start Main Top -->
    <div th:replace="~{fragments :: mainTop}"></div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header th:replace="~{fragments :: mainHeader}"></header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="~{fragments :: topSearch}"></div>
    <!-- End Top Search -->

    <!-- Start Slider -->
    <div th:replace="~{fragments :: allTitleBox}"></div>
    <!-- End Slider -->
    
				<div th:if="${phoneNumberError}" th:text="${phoneNumberError}" style="color: red; text-align: center; font-size: 30px;"></div>
				<div th:if="${accountNumberError}" th:text="${accountNumberError}" style="color: red; text-align: center; font-size: 30px;"></div>
	          	<div th:if="${success}" th:text="${success}" style="color: green; text-align: center; font-size: 30px;"></div>
    <div class="mainDiv">
		
		<div class="cardStyle">
			<form enctype="multipart/form-data" method="post" name="signupForm" id="signupForm" th:action="@{/account/updateCustomer}">
		<div class="leftHalf">
	        
	          
	            <input type="hidden" th:value="${customer.id}" name="id" >
	            <input type="hidden" th:value="${customer.password}" name="password">
	            <img src="" id="signupLogo"/>
	            
	            <h2 class="formTitle">
	              <i>Thông tin cá nhân</i> 
	            </h2>
	            
	          <div class="inputDiv">
				<img id="image1" th:if="${customer.image == null}" th:src="@{/images/avatar-facebook-mac-dinh-19.jpg}" style="width: 100px; height: 100px; margin-left: 70px; border-radius: 50%; object-fit: cover;cursor: pointer; display: none;" />
				<img id="image2" th:if="${customer.image != null}" th:src="'data:image/jpeg;base64,' + ${customer.image}" style="width: 100px; height: 100px; margin-left: 70px; border-radius: 50%; object-fit: cover; cursor: pointer; display: none;" />        
				 <label class="inputLabel" for="customerImage"> Chọn ảnh * </label> 
	            <input type="file" id="customerImage" name="customerImage" >
	          </div>
		
	          <div class="inputDiv">
	            <label class="inputLabel" for="firstNameId"> Tên riêng * </label> 
	            <input type="text" id="firstNameId" name="firstName" th:value="${customer.firstName}" required>
	          </div>
	            
	          <div class="inputDiv">
	            <label class="inputLabel" for="lastNameId"> Họ *</label>
	            <input type="text" id="lastNameId" name="lastName" th:value="${customer.lastName}" required>
	          </div>
	          
	          <br>
	          
	           <div style="margin-left: 80px;">
	                <label class="small mb-1" for="inputUsername">Nam</label>
	               <input  name="gender" type="radio" value="Nam" th:checked="${customer.gender == 'Nam'}"> 
	                            
	                <label class="small mb-1" for="inputUsername" style="margin-left: 10px;">Nữ</label>
	               <input  name="gender" type="radio" value="Nữ" th:checked="${customer.gender == 'Nữ'}">
	           </div>
	            
	       
          </div>
		
		
		<div class="centerHalf">
			<div class="inputDiv">
	            <label class="inputLabel" for="usernameId">Tài khoản *</label>
	            <input type="text" id="usernameId" name="username" th:value="${customer.username}" readonly required>
	          </div>
			
	          <div class="inputDiv">
	            <label class="inputLabel" for="phoneNumberId">Số điện thoại *</label>
	            <input type="text" id="phoneNumberId" name="phoneNumber" minlength="10" maxlength="10" th:value="${customer.phoneNumber}" required>
	          </div>
	          
	           <div class="inputDiv">
	            <label class="inputLabel" for="phoneNumberId">Ngày sinh *</label>
	            <input type="date" id="birthDayId" name="birthDay" th:value="${customer.birthDay}" required>
	          </div>
	
	        
	          <div class="inputDiv" th:if="${customer.city != null and customer.city.country !=null}" >
				  <label class="inputLabel" for="countryId">Quốc Gia *</label>
		         <select id="countryId"  style="height: 30px; border-radius: 5px;"  name="country" th:value="${customer.city.country}" required>	      
		          		<option style="text-align: center;" th:value="null">--Chọn--</option>
			            <option th:each="country : ${countryList}" th:value="${country.id}" th:text="${country.name}" th:selected="${country.id == customer.city.country.id}"></option>
		          </select>
	          </div>
	          
	          <div class="inputDiv" th:if="${customer.city == null or customer.city.country == null}">
				  <label class="inputLabel" for="countryId">Quốc Gia *</label>
		         <select id="countryId"  style="height: 30px; border-radius: 5px;"  name="country" required>	      
		          		<option style="text-align: center;" th:value="null">--Chọn--</option>
			            <option th:each="country : ${countryList}" th:value="${country.id}" th:text="${country.name}"></option>
		          </select>
	          </div>
	          
				<div class="inputDiv" th:if="${customer.city}" >
				  <label class="inputLabel" for="cityId">Tỉnh *</label>
		          <select id="cityId" style="height: 30px; border-radius: 5px;" th:value="${customer.city}"  name="city" required>
			            <option style="text-align: center;" th:value="null">--Chọn--</option>
			            <option th:each="city : ${cityList}" th:value="${city.id}" th:text="${city.name}" th:selected="${city.id == customer.city.id}"></option>
		          </select>
				</div>
				
				<div class="inputDiv" th:if="${customer.city == null}" >
				  <label class="inputLabel" for="cityId">Tỉnh *</label>
		          <select id="cityId" style="height: 30px; border-radius: 5px;" name="city"required>
			            <option style="text-align: center;" th:value="null">--Chọn--</option>	        
		          </select>
				</div>
	          
	          
		</div>
          
          <div class="rightHalf">
	         
				
			<div class="inputDiv">
	            <label class="inputLabel" for="addressId">Địa chỉ *</label>
	            <input type="text" id="addressId" name="address" th:value="${customer.address}" required>
	          </div>
	          
	          <div class="inputDiv">
	            <label class="inputLabel" for="nameOfBankId">Tên ngân hàng *</label>
	            <input type="text" id="nameOfBankId" name="nameOfBank" th:value="${customer.nameOfBank}" required>
	          </div>
	          
	          <div class="inputDiv">
	            <label class="inputLabel" for="accountNumberId">Số tài khoản *</label>
	            <input type="text" id="accountNumberId" name="accountNumber" th:value="${customer.accountNumber}" required>
	          </div>
	          
	          <div class="buttonWrapper">
            <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
              <span>Save</span>
            </button>
          </div>
     	</div>
     	
     	</div>
          
            </form>
        
        </div>
        
    </section>




<!-- Start Footer  -->
<footer th:replace="~{fragments :: myFooter}"></footer>

    
    <!--Script-->
<div th:replace="~{fragments :: script}">
</div>

<script th:src="@{/js/customer-signup.js}"></script>
<script th:src="@{/js/active_ul.js}"></script>

</body>

</html>