<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head th:replace="~{fragments :: head}">
</head>


<body>
    <!-- Start Main Top -->
    <div th:replace="~{fragments :: mainTop}"></div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header th:replace="~{fragments :: mainHeader}"></header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="~{fragments :: topSearch}"></div>
    <!-- End Top Search -->

    <!-- Start Slider -->
    <div th:replace="~{fragments :: allTitleBox}"></div>
    <!-- End Slider -->

    <!-- Start Products  -->
    <div class="products-box">
        <div class="container" th:each="category : ${categoryList}">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1 th:text="${category.name}"></h1>
                        <p>Best Seller!</p>
                    </div>
                </div>
            </div>
          

            <div class="row special-list">
                <div class="col-lg-3 col-md-6 special-grid best-seller" th:each="product : ${productList}"
                	th:if="${product.category !=null and product.category.name == category.name}">
                	<iframe name="votar" style="display:none;"></iframe>
                	<form id="formId"  target="votar" th:action="@{/cart/addItem}" method="post">
						<input type="hidden" value="1" name = "quantity" id="quantityHidden">
						<input type="hidden" th:value="${product.id}" name = "id" id="idHidden">
	                    <div class="products-single fix">
	                        <div class="box-img-hover">
	                            <img th:src="'data:image/jpeg;base64,' + ${product.image}" style="width: 330px; height: 220px;" class="img-fluid"  alt="Image">
	                            <div class="mask-icon">
	                                <ul>
	                                    <li id="dropdown" ><a th:href="@{/find-productById(id = ${product.id})}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
	                                </ul>
	                                
	                               <!-- <button type="submit" id="buttonSubbmit" class="btn hvr-hover" th:if="${product.currentQuantity > 0}"
	                                	style=" color: white; font-size: 20px; border: 2px solid yellow;cursor: pointer;
	                                	font-family: 'Times New Roman', Times, serif;">
	                               		<i class="fa-solid fa-cart-plus" style="color: #ffffff;margin-right: 5px;"></i> Thêm vào giỏ hàng
	                                </button>-->
	                            </div>
	                        </div>
	                        <div class="why-text">
	                            <h4 th:text="${product.name}"></h4>
	                            <h4 th:if="${product.currentQuantity > 0}" th:text="'Kho : ' + ${product.currentQuantity}"  style="color: darkgray; font-family: 'Times New Roman', Times, serif; "></h4>
	                            <h4 th:if="${product.currentQuantity == 0}" style="color: red;">Hết hàng</h4>
	                            <p th:if="${product.salePrice != 0}" style="text-decoration: line-through;font-size: 20px;" th:text="'$ ' +${product.costPrice}"></p>
	                            <p th:if="${product.salePrice == 0}" style="color: red; font-size: 20px; font-weight: 500;" th:text="'$ ' +${product.costPrice}"></p>
	                            <p th:if="${product.salePrice == 0}" style="color: red; font-size: 25px; font-weight: 600; visibility: hidden;" th:text="'$' +${product.salePrice}"></p>
	                            <p th:if="${product.salePrice != 0}" style="color: red; font-size: 25px; font-weight: 600;" th:text="'$' +${product.salePrice}"></p>
	                        	<p th:text="'Đã bán : '+${product.sold}" style="color: black;"></p>
	                        </div>
	                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

                
    <!-- End Products  -->


    <!-- Start Feed  -->
   <div th:replace="~{fragments :: feed}"></div>
	<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="~{fragments :: myFooter}"></footer>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content custom-modal" style="background-color: black;color: white; height: 200px; width: 350px;margin-left: 100px; text-align: center;border: none; background-color: rgba(0, 0, 0, 0.5)">
      <div class="modal-body">
		 <i class="fa-solid fa-circle-check" style="color: #4ce1a0; font-size: 80px;"></i> <br>
        <p style="text-align: center; font-size: 25px;">Thêm thành công vào giỏ hàng</p>
      </div>
    </div>
  </div>
</div>
        

<!--Script-->
<div th:replace="~{fragments :: script}">
</div>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/active_ul.js}"></script>

</body>

</html>