<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head th:replace="~{fragments :: head}">
</head>

<style>
	#loadMore{
		display: none;
		margin:auto;
		height: 50px;
		padding: 0 50px;
		border: 0;
		border-radius: 6px;
		background-color: rgb(255, 128, 64);
		color: white;
		font-size: 16px;
		cursor: pointer;
		transition: .3s linear;
	}
	
	#loadMore:hover{
		opacity: .8;
	}
	
	#loadMore2{
		display: none;
		margin:auto;
		height: 50px;
		padding: 0 50px;
		border: 0;
		border-radius: 6px;
		background-color: rgb(255, 128, 64);
		color: white;
		font-size: 16px;
		cursor: pointer;
		transition: .3s linear;
	}
	
	#loadMore2:hover{
		opacity: .8;
	}
</style>

<body>
     <!-- Start Main Top -->
    <div th:replace="~{fragments :: mainTop}"></div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header th:replace="~{fragments :: mainHeader}"></header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="~{fragments :: topSearch}"></div>
    <!-- End Top Search -->

    <!-- Start Slider -->
    <div th:replace="~{fragments :: allTitleBox}"></div>
    <!-- End Slider -->

    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-sm-left">
                                <div class="toolbar-sorter-right">
                                    <span>Sort by </span>
                                    <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD"
                                    	onchange="location = this.value;">
                                    <option data-display="Select">Select</option>
									<option th:value="@{/products/byCategory(category_id = ${category_id})}">All</option>
									<option th:value="@{/products/high-to-low-price(category_id = ${category_id})}">
								        High Price → Low Price
								    </option>
									<option th:value="@{/products/low-to-high-price(category_id = ${category_id})}">
										Low Price → High Price
									</option>
									<option th:value="@{/products/bestSeller(category_id = ${category_id})}">Best Selling</option>
								</select>
                                </div>
                                <p>Showing all results</p>
                            </div>
                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li>
                                        <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div th:if="${productList.empty}" style="color: red; font-size: 40px; text-align: center;">
							No Products
						</div>

                        <div class="product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row" id="rowProduct">
                                        <div id="productList" class="col-sm-6 col-md-6 col-lg-4 col-xl-4" th:each="product : ${productList}" style="display: none;" >
											<iframe name="votar" style="display:none;"></iframe>
						                	<form id="formId"  target="votar" th:action="@{/cart/addItem}" method="post">
												<input type="hidden" value="1" name = "quantity" id="quantityHidden">
												<input type="hidden" th:value="${product.id}" name = "id" id="idHidden">
	                                            <div class="products-single fix">
	                                                <div class="box-img-hover">                                       
	                                                    <img th:src="'data:image/jpeg;base64,' + ${product.image}" style="width: 330px; height: 220px;"
	                                                    	 class="img-fluid" alt="Image">
	                                                    <div class="mask-icon">
	                                                        <ul>
	                                                            <li id="dropdown"><a th:href="@{/find-productById(id = ${product.id})}"
	                                                            	 data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
	                                                        </ul>
	                                                       <!-- <button type="submit" id="buttonSubbmit" class="btn hvr-hover" th:if="${product.currentQuantity > 0}"
							                                	style=" color: white; font-size: 20px; border: 2px solid yellow;cursor: pointer;
							                                	font-family: 'Times New Roman', Times, serif;">
							                               		<i class="fa-solid fa-cart-plus" style="color: #ffffff;margin-right: 5px;"></i> Thêm vào giỏ hàng
							                                </button>-->
	                                                    </div>	
	                                                </div>
	                                                <div class="why-text">
	                                                    <h4 th:text="${product.name}"></h4>
	                                                    <h4 th:if="${product.currentQuantity == 0}" style="color: red;">Hết hàng</h4>
	                                                    <h4 th:if="${product.currentQuantity > 0}" th:text="'Kho : ' + ${product.currentQuantity}"  style="color: darkgray; font-family: 'Times New Roman', Times, serif; "></h4>
	                                                     <p th:if="${product.salePrice != 0}" style="text-decoration: line-through;font-size: 20px;" th:text="'$ ' +${product.costPrice}"></p>
							                            <p th:if="${product.salePrice == 0}" style="color: red; font-size: 20px; font-weight: 500;" th:text="'$ ' +${product.costPrice}"></p>
							                            <p th:if="${product.salePrice == 0}" style="color: red; font-size: 25px; font-weight: 600; visibility: hidden;" th:text="'$' +${product.salePrice}"></p>
							                            <p th:if="${product.salePrice != 0}" style="color: red; font-size: 25px; font-weight: 600;" th:text="'$' +${product.salePrice}"></p>
	                                               		<p th:text="'Đã bán : '+${product.sold}"></p>
	                                                </div>
	                                            </div>
						                	</form>
                                        </div>                                                               
                                    </div>
                                    <button id="loadMore"   type="button">Load More</button>
                                </div>
                                
                              	


                                <div role="tabpanel" class="tab-pane fade" id="list-view">
                                    <div class="list-view-box" th:each="product : ${listViewProduct}" id="productList2" style="display: none;">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <img th:src="'data:image/jpeg;base64,' + ${product.image}" style="width: 330px; height: 220px;" 
                                                        	class="img-fluid" alt="Image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <h4 th:text="${product.name}"></h4>
                                                     <p th:if="${product.salePrice != 0}" style="text-decoration: line-through;font-size: 20px;" th:text="'$ ' +${product.costPrice}"></p>
						                            <p th:if="${product.salePrice == 0}" style="color: red; font-size: 20px; font-weight: 500;" th:text="'$ ' +${product.costPrice}"></p>
						                            <p th:if="${product.salePrice == 0}" style="color: red; font-size: 25px; font-weight: 600; visibility: hidden;" th:text="'$' +${product.salePrice}"></p>
						                            <p th:if="${product.salePrice != 0}" style="color: red; font-size: 25px; font-weight: 600;" th:text="'$' +${product.salePrice}"></p>
                                                    <p th:if="${product.description != '' and product.description != null}" th:text="${product.description}"></p>
                                                    <p th:text="'Đã bán : '+${product.sold}"></p>
                                                    <h4 th:if="${product.currentQuantity == 0}" style="color: red;">Hết hàng</h4>
	                                                  <h4 th:if="${product.currentQuantity > 0}" th:text="'Kho : ' + ${product.currentQuantity}"  style="color: darkgray; font-family: 'Times New Roman', Times, serif; "></h4>
	                                                    
                                                    <button type="submit" id="buttonSubbmit" class="btn hvr-hover" th:if="${product.currentQuantity > 0}"
							                                	style=" color: white; font-size: 20px; border: 2px solid yellow;cursor: pointer;
							                                	font-family: 'Times New Roman', Times, serif;">
							                                	<a id="dropdown" th:href="@{/find-productById(id = ${product.id})}">
							                               			Xem chi tiết
							                               		</a>
							                       </button>
							               			
	                                                    
                                               			
                                                </div>
                                            </div>
                                        </div>
                                    </div>     
                                    <button id="loadMore2"  type="button">Load More</button>                           
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
				<div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            <form action="#">
                                <input class="form-control" placeholder="Search here..." type="text">
                                <button type="submit"> <i class="fa fa-search"></i> </button>
                            </form>
                        </div>
                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Loại</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree"
                            	 id="list-group-men" data-children=".sub-men" >
                                <a th:href="@{/products}" class="list-group-item list-group-item-action" >
									All
									<small class="text-muted" >
										([[${totalOfProduct}]])
									</small>
								</a>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree"
                            	 id="list-group-men" data-children=".sub-men" 
                            	 th:each="cateAndPro : ${categoryAndProductList}">
                                <a th:href="@{/products/byCategory(category_id = ${cateAndPro.id})}" class="list-group-item list-group-item-action" >
									[[${cateAndPro.name}]]
									<small class="text-muted" >
										([[${cateAndPro.numberOfProduct}]])
									</small>
								</a>
                            </div>
                        </div>
                        <div class="filter-price-left">
                            <div class="title-left">                               
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->

    <!-- Start Feed  -->
    <div th:replace="~{fragments :: feed}"></div>
    
    <!-- End Feed  -->


    <!-- Start Footer  -->
    <footer th:replace="~{fragments :: myFooter}"></footer>
            
            
            <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content custom-modal" style="background-color: black;color: white; height: 200px; width: 350px;margin-left: 100px; text-align: center;border: none; background-color: rgba(0, 0, 0, 0.5)">
      <div class="modal-body">
		 <i class="fa-solid fa-circle-check" style="color: #4ce1a0; font-size: 80px;"></i> <br>
        <p style="text-align: center; font-size: 25px;">Thêm thành công vào giỏ hàng</p>
      </div>
    </div>
  </div>
</div>

<!--Script-->
<div th:replace="~{fragments :: script}">
</div>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/active_ul.js}"></script>
<script th:src="@{/js/shop.js}"></script>

</body>

</html>